<!DOCTYPE html>

<html lang="en">
  <head>
    {% include head.html %}
  </head>

  <div class="notice">
    <p>
      This site is a work in progress. Therefore, expect significant changes.<br><b>Turing School</b> does not offer a <b>Data Analytics</b> program currently. For more information contact <a href="mailto:jorge@turing.edu"><b>jorge@turing.edu</b></a>.
    </p>
  </div>

  <body>
    {% include navigation.html %}
    <div class="container">
      {{content}}
    </div>
    {% include search.html %}
    <script async src="//assets.codepen.io/assets/embed/ei.js"></script>
    <script src="/public/js/active-links.js"></script>
  </body>
</html>
